.profile-pic {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-content-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 130px);
    grid-template-rows: auto;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}

.profile-username {
    margin: 28px 10px;
    align-self: start;
    grid-area: 1/1/2/5;
    justify-self: self-start;
}
.profile-username p {
    font-size: 20px;
    padding-left: 5px;
    border-left: 4px solid rgb(5, 5, 173);
}

.profile-right-side {
    width: fit-content;
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3vh;
    left: 146px;
}

.profile-pic-small {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 31px;
    cursor: pointer;
    margin: 3px;
}

.profile-pic-large,
.other-profile-pic-large {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
}

.profile-pic-large {
    cursor: pointer;
}

.profile-right-side button {
    width: 50%;
    margin: 20px 26%;
}

.bio-textarea {
    padding: 17px;
    width: fit-content;
    display: block;
    justify-self: center;
    align-self: flex-end;
    grid-area: 3/1/4/1;
    margin-left: auto;
}

.bio-text-container {
    justify-self: left;
    grid-area: 2/1/2/3;
    margin: 5px 10px;
}

.bio-text-container button {
    margin: 0;
    font-size: 11px;
    height: 20px;
    justify-self: center;
}

.find-more-people {
    margin-left: 20px;
}

button {
    color: white;
    background-color: rgb(5, 5, 173);
    margin: 20px 10px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
}

button:hover {
    color: rgba(0, 0, 0, 0.705);
    background-color: rgba(179, 177, 177, 0.383);
    border-radius: 20px;
}

button:active {
    color: rgba(0, 0, 0, 0.705);
    background-color: rgba(179, 177, 177, 0.383);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

.profile-left-side {
    background-color: rgba(7, 7, 7, 0.11);
    grid-area: 1/1 / auto/4;
    align-items: stretch;
    height: 100vh;
    width: 20vw;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.request-btn {
    grid-area: 1/8/3/10;
    background-color: rgba(194, 132, 34, 0.911);
}

.offer-btn {
    grid-area: 1/4/3/8;
    background-color: rgba(18, 18, 110, 0.959);
}

.offer-btn,
.request-btn {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s 0s ease-in-out;
}

.request-btn:hover,
.offer-btn:hover {
    transform: scale(1.04);
    text-decoration: none;
}

.request-btn::after,
.offer-btn::after {
    outline: none;
}

.request-btn button {
    background-color: rgba(194, 133, 34, 0);
    font-size: 20px;
}

.offer-btn button {
    background-color: rgba(18, 18, 110, 0);
    font-size: 20px;
}

.offer-btn button:hover {
    color: rgba(194, 132, 34, 0.911);
}
.request-btn button:hover {
    color: rgba(18, 18, 110, 0.959);
}

.back-icon {
    height: 40px;
}
.back-icon-link {
    grid-area: 1/1;
}

.my-offer-link {
    width: max-content;
    grid-area: 4/1/4/1;
    margin: 0 10px;
}
