.profile-pic {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-content-container {
    display: grid;
    /* grid-template-rows: repeat(auto, 130px); */
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(12, 130px);
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-image: url(/background1.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
}

.profile-username {
    margin: 10px 10px;
    align-self: start;
    grid-area: 1/1/2/5;
    justify-self: self-start;
}
.profile-username p {
    font-size: 20px;
    padding-left: 5px;
    border-left: 4px solid rgb(5, 5, 173);
    margin: 60px 0;
}

.profile-right-side {
    width: fit-content;
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3vh;
    left: 200px;
}

.profile-pic-small {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 31px;
    cursor: pointer;
    margin: 3px;
}

.profile-pic-large,
.other-profile-pic-large {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
}

.profile-pic-large {
    cursor: pointer;
}

.profile-right-side button {
    width: 50%;
    margin: 20px 26%;
}

.bio-textarea {
    padding: 7px;
    width: fit-content;
    display: block;
    justify-self: center;
    align-self: flex-end;
    grid-area: 3/1/4/1;
    margin-left: auto;
}

.bio-text-container {
    justify-self: left;
    grid-area: 2/1/2/3;
    margin: 54px 20px;
}

.bio-text-container button {
    margin: 0;
    font-size: 11px;
    height: 20px;
    justify-self: center;
}

.find-more-people {
    margin-left: 20px;
}

button {
    color: white;
    background-color: rgb(236, 168, 19);
    margin: 20px 10px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    height: px;
    cursor: pointer;
}

button:hover {
    color: rgba(0, 0, 0, 0.705);
    background-color: rgba(165, 53, 53, 0.678);
    border-radius: 20px;
}

button:active {
    color: rgba(0, 0, 0, 0.705);
    background-color: rgba(179, 177, 177, 0.383);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

.profile-left-side {
    background-color: rgba(7, 7, 7, 0.856);
    grid-area: 1/1 / auto/4;
    align-items: stretch;
    min-height: 460px;
    width: 20vw;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.upload-file-container {
    margin: 10px 10px;
    height: 40px;
    width: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 227px;
    top: 141px;
}
.upload-item {
    flex-grow: 1;
    font-size: 16px;
    max-width: 300px;
    margin-right: 10px;
    height: 30px;
    text-align: center;
}

.upload-file-label {
    color: white;
    flex-grow: 1;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    margin: 0 10px;
}

.upload-file-label:hover,
.upload-btn:hover,
.more-btn:hover {
    color: black;
}

.upload-file {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 150px;
    height: 33px;
    cursor: pointer;
    z-index: 0;
}

.upload-btn {
    color: white;
    margin-left: auto;
    font-size: 14px;
    height: 26px;
    cursor: pointer;
    border: none;
}

.upload-icon {
    height: 55px;
}

.request-btn {
    grid-area: 2/9/3/11;
    background-color: rgba(194, 132, 34, 0.911);
    opacity: 1;
}

.offer-btn {
    grid-area: 2/5/3/7;
    background-color: rgba(18, 18, 110, 0.959);
}

.offer-btn,
.request-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s 0s ease-in-out;
}

.request-btn:hover,
.offer-btn:hover {
    transform: scale(1.04);
    text-decoration: none;
}

.request-btn::after,
.offer-btn::after {
    outline: none;
}

.request-btn button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.offer-btn button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

.offer-btn button:hover {
    color: rgba(194, 132, 34, 0.911);
}
.request-btn button:hover {
    color: rgba(18, 18, 110, 0.959);
}

.back-icon {
    height: 40px;
}
.back-icon-link {
    grid-area: 1/5;
    margin: 30px;
}

.my-offer-link {
    width: max-content;
    grid-area: 4/1/4/1;
    margin: 47px 22px;
    font-size: 19px;
}

input {
    margin: 10px 20px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.781);
    -moz-box-shadow: 11px 23px 31px -10px rgba(0, 0, 0, 0.82);
    box-shadow: 11px 23px 31px -10px rgba(0, 0, 0, 0.82);
}
